# Task 1
### of Data Processing Software
### Student IAB-11
### Bovsunovska Mariia

Firstly lets import modules and data and see what are they about

In [29]:
import pandas as pd

df = pd.read_csv("airquality.csv")
print(df.describe())

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

And then lets answer the questions of the homework.

Question 1. What are the column names of the data frame?

In [4]:
print(list(df.keys()))

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

Question 2. What are the row names of the data frame?

In [6]:
print(list(df.index))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152]

Question 3. Extract the first 6 rows of the data frame and print them to the console

In [7]:
print(df.head(6))

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6

Question 4. How many observations (i.e. rows) are in this data frame?

In [8]:
print(len(df))

153

Question 5. Extract the last 6 rows of the data frame and print them to the console

In [9]:
print(df.tail(6))

     Ozone  Solar.R  Wind  Temp  Month  Day
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

Question 6. How many missing values are in the “Ozone” column of this data frame?

In [10]:
print(len(df[df["Ozone"].isnull()]))

37

Question 7. What is the mean of the “Ozone” column in this dataset?
Exclude missing values (coded as NA) from this calculation.

In [13]:
print(round(df[df["Ozone"].notnull()]["Ozone"].mean(),3))

42.129

Question 8. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.

In [15]:
print(df[(df["Ozone"]>31)&(df["Temp"]>90)])

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

Question 9. Use a for loop to create a vector of length 6 containing the mean of each column in the data frame (excluding all missing values).

In [20]:
print([round(df[df[key].notnull()][key].mean(), 3) for key in df.keys()])

[42.129, 185.932, 9.958, 77.882, 6.993, 15.804]

Question 10. Use the apply function to calculate the standard deviation of each column in the data frame (excluding all missing values).

In [21]:
print([round(df[df[key].notnull()][key].std(), 3) for key in df.keys()])

[32.988, 90.058, 3.523, 9.465, 1.417, 8.865]

Question 11. Calculate the mean of “Ozone” for each Month in the data frame and create a vector containing the monthly means (exclude all missing values).

In [24]:
print(df["Month"].describe())

count    153.000000
mean       6.993464
std        1.416522
min        5.000000
25%        6.000000
50%        7.000000
75%        8.000000
max        9.000000
Name: Month, dtype: float64

In [27]:
print([round(df[(df["Ozone"].notnull()) & (df["Month"] == month)]["Ozone"].mean(), 3) for month in range(5, 10)])

[23.615, 29.444, 59.115, 59.962, 31.448]

Question 12. Draw a random sample of 5 rows from the data frame

In [28]:
print(df.sample(5))

     Ozone  Solar.R  Wind  Temp  Month  Day
112   21.0    259.0  15.5    77      8   21
40    39.0    323.0  11.5    87      6   10
88    82.0    213.0   7.4    88      7   28
110   31.0    244.0  10.9    78      8   19
123   96.0    167.0   6.9    91      9    1