# Task 3
### of Data Processing Software
### Student IAB-11
### Bovsunovska Mariia

Firstly lets import nessesary libraries

In [25]:
import pandas as pd

And read dataset

In [26]:
df = pd.read_csv("hike_long.csv")

In [27]:
print(df.head(6))

   id                  name                                        location  \
0   1  Lake Hills Greenbelt  Puget Sound and Islands -- Seattle-Tacoma Area
1   1  Lake Hills Greenbelt  Puget Sound and Islands -- Seattle-Tacoma Area
2   1  Lake Hills Greenbelt  Puget Sound and Islands -- Seattle-Tacoma Area
3   1  Lake Hills Greenbelt  Puget Sound and Islands -- Seattle-Tacoma Area
4   1  Lake Hills Greenbelt  Puget Sound and Islands -- Seattle-Tacoma Area
5   2             Snow Lake            Snoqualmie Region -- Snoqualmie Pass

                 length  gain  highpoint  rating               features  \
0  2.3 miles, roundtrip    50      330.0    3.67  Dogs allowed on leash
1  2.3 miles, roundtrip    50      330.0    3.67               Wildlife
2  2.3 miles, roundtrip    50      330.0    3.67          Good for kids
3  2.3 miles, roundtrip    50      330.0    3.67                  Lakes
4  2.3 miles, roundtrip    50      330.0    3.67           Fall foliage
5  7.2 miles, roundtrip  1800     4400.0    4.16          Ridges/passes

                                         description
0  Hike through a pastoral area first settled and...
1  Hike through a pastoral area first settled and...
2  Hike through a pastoral area first settled and...
3  Hike through a pastoral area first settled and...
4  Hike through a pastoral area first settled and...
5  A relatively short and easy hike within a ston...

#### Tidying dataset
Create a new dataset clean_hike_trails with the next updates:
1. Convert columns gain, highpoint, rating to numeric values.
2. Add new column trip with the type of trip from column length (“roundtrip”, “trails”,
“one-way”).
3. Add new column length_total with the route length from column length, considering
that for “one-way” trip you must double the route length.
4. Add new column location_general with location from column location (a part before
“–”).
5. Add column id with row number

- 1 Convert columns gain, highpoint, rating to numeric values.

They are already numeric.

- 2 Add new column trip with the type of trip from column length (“roundtrip”, “trails”, “one-way”).

In [28]:
df["trip"] = df["length"].str.split(" ").str[-1]
print(df["trip"])

0       roundtrip
1       roundtrip
2       roundtrip
3       roundtrip
4       roundtrip
          ...
8769    roundtrip
8770    roundtrip
8771    roundtrip
8772    roundtrip
8773    roundtrip
Name: trip, Length: 8774, dtype: object

- 3 Add new column length_total with the route length from column length, considering that for “one-way” trip you must double the route length.

In [29]:
df["length_total"] = pd.to_numeric(df["length"].str.split(" ").str[0])
df["length_total"] = df.apply(lambda df:
                              df["length_total"] * 2 
                              if df["trip"] == "one-way" 
                              else df["length_total"]
                              , axis=1)
print(df["length_total"])

0        2.3
1        2.3
2        2.3
3        2.3
4        2.3
        ...
8769    20.0
8770     8.2
8771     8.2
8772     8.2
8773     8.2
Name: length_total, Length: 8774, dtype: float64

- 4 Add new column location_general with location from column location (a part before “–”).

In [30]:
df["location_general"] = df["location"].str.split(" -- ").str[0]
print(df["location_general"])

0       Puget Sound and Islands
1       Puget Sound and Islands
2       Puget Sound and Islands
3       Puget Sound and Islands
4       Puget Sound and Islands
                 ...
8769             North Cascades
8770             South Cascades
8771             South Cascades
8772             South Cascades
8773             South Cascades
Name: location_general, Length: 8774, dtype: object

- 5 Add column id with row number

In [31]:
df["index"] = df.index
print(df["index"])

0          0
1          1
2          2
3          3
4          4
        ...
8769    8769
8770    8770
8771    8771
8772    8772
8773    8773
Name: index, Length: 8774, dtype: int64

Writing it to clean_hike_trails.csv

In [32]:
df.to_csv("clean_hike_trails.csv",index=False)

#### Questioning dataset

Question 1. How many routes have rating more than 4.9

In [34]:
print(len(df[df["rating"] > 4.9]))

318

It's not really a lot, cause it's a number of the best routes from 1890 `[look at the fifth question]`.
And it's not very hight percent - only 17% of routes have the best rating.

Question 2. How many routes are “Good for kids” (hint: you can use (unnest function)?

In [35]:
print(len(df[df["features"].str.contains("Good for kids")]))

694

Question 3. Which unique features can routes have?

In [36]:
print(df.drop_duplicates("features")["features"].tolist())

['Dogs allowed on leash', 'Wildlife', 'Good for kids', 'Lakes', 'Fall foliage', 'Ridges/passes', 'Established campsites', 'Mountain views', 'Old growth', 'Waterfalls', 'Wildflowers/Meadows', 'Rivers', 'Dogs not allowed', 'Coast', 'Summits']

Question 4. What is the most common rating of a route?

In [37]:
print(df["rating"].value_counts().head(6))

0.0    1152
3.0     723
4.0     600
3.5     375
5.0     318
2.5     204
Name: rating, dtype: int64

Question 5. Your own question and answer.

Question 'My'. How many routs there are in the dataset at all?

In [38]:
print(df['id'].nunique())

1890